@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap%27');


:root {
    --background-color: #f5f8fd;
    --accent-color: rgb(145, 172, 212);
    --accent-color-light: rgba(144, 172, 212, 0.55);
    --light-text-color: rgba(0, 0, 0, 0.7);
}

* {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;

}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

p {
    color: var(--light-text-color);
    margin: 0;
    font-size: 18px;
}

.main-body {
    padding: 0 20px;
    margin-top: 30px;
    display: flex;
    padding-bottom: 200px;
}

/* NAV STYLES */

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    display:inline;
}

.nav a {
    color: black;
    text-decoration: none;
}

.main-nav {
    padding: 20px;
    font-size: 20px;
    border-bottom: 1px solid rgba(82, 82, 82, 0.1)
}

.main-nav a {
    background-color: transparent;
    color: var(--light-text-color);
    border-bottom: 1px solid transparent;
    transition: 200ms;
}

.main-nav a:hover {
    color: black;
    border-bottom: 3px solid rgba(82, 82, 82, 0.1)
}


a.main-page {
    font-weight: bold;
    margin-right: 1.5em;
}

a.sub-page {
    margin: 0 1.5em;
}

/* PROFILE NAV STYLES*/

.profile-nav.contacts li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.profile-nav.contacts p {
    font-size: 14px;
    margin-left: 10px;
}

.profile-nav.socials {
    display: flex;
    justify-content: center;
}

.profile-nav.socials ul {
    display: inline-block;
    margin: 0 10px
}

/* MAIN CONTENT STYLES */
.content {
    width: 60%;
    padding: 0 40px;
}

h4 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 400;
    color: var(--light-text-color)
}

h1 {
    font-size: 40px;
    margin: 0;
    font-weight: 300;
    margin-bottom: 30px;
}

span.accent {
    font-weight: 500;
    color: var(--accent-color)
}

.content p {
    margin-bottom: 20px;
}

/* SIDEBAR PROFILE STYLES */

.profile {
    position: relative;
    width: 280px;
    height: fit-content;
    margin-right: 40px;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.2);
}

.hover-shards:after {
    background: linear-gradient(
        90deg,
        transparent,
        var(--accent-color),
        transparent
    );
    height: 2px;
    width: 70px;
    position: absolute;
    left:25%;
    top: -1px;
    opacity: 0;
    content: '';

    transition: left 600ms ease, opacity 600ms ease;
}

.hover-shards:hover:after {
    left: 65%;
    opacity: 1;
}

.hover-shards:before {
    background: linear-gradient(
        transparent,
        var(--accent-color),
        transparent
    );
    height: 70px;
    width: 2px;
    position: absolute;
    left:-1px;
    top: 65%;
    opacity: 0;
    content: '';
    z-index: 99;
    transition: top 600ms ease, opacity 600ms ease;
}

.hover-shards:hover:before {
    top: 25%;
    opacity: 1;
}

.img-slider-container.hover-shards:after {
    height: 5px;
}

.img-slider-container.hover-shards:before {
    width: 5px;
}


img.me {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

img.icon {
    width: 20px;
}

.profile .wrap-center-x {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile .wrap-center-y {
    width: 100%;
    display: flex;
    align-items: center;
}

.profile h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.profile p.description {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
}

.separator {
    background-color: var(--accent-color);
    display: block;
    height: 4px;
    margin: 10px 0;
}

.separator.short {
    width: 110px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.name {
    display: inline-block;
}

.pronouns {
    margin-left: 4px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color:var(--accent-color);
}

.resume {
    display: flex;
    text-decoration: none;
    justify-content: center;

    color: var(--light-text-color);
    background-color: var(--accent-color-light);

    width: 80%;
    padding: 8px 0px;
    margin: 20px auto;
    border-radius: 50px;
    box-shadow: 0px 6px 30px 0px var(--accent-color);
    font-size: 14px;

    transition: 300ms;
}

.resume img {
    margin-left: 8px;
    width: 16px;
}

.resume:hover {
    transform: translateY(5px);
    width: 100%;
}

.resume:active {
    color: white;
    background-color:var(--accent-color)
}

#nav-indicator {
    pointer-events: none;
    position: absolute;
    top: 20px;
    left: 0px;
    background-color: rgb(145, 172, 212, 0.8);
    filter: blur(10px);
    transition: 300ms;
}

h2 {
    font-size: 18px;
}

.info-btn {
    width: 24px;
    height: 24px;
    background-image: url("assets/icons/learn-more.png");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(144, 172, 212, 0.2);
    border-radius: 4px;
    border: none;
    transition: 200ms ease-in-out;
}

.info-btn:hover {
    background-color: var(--accent-color-light);
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

.tag-list {
    margin: 0;
    padding: 0;
}

.chip {
    display: inline;
    border: 1px solid var(--light-text-color);
    padding: 5px 12px;
    border-radius: 50px;
    margin-right: 5px;
    box-shadow: 3px 3px 10px 0px var(--accent-color);
}

.img-slider-container {
    position: relative;
    margin: 20px 0;
    min-width: 300px;
    min-height: 300px;
    width: fit-content;
    height: fit-content;
    object-fit: fill;
    border-radius: 6px;
    overflow: hidden;
}

.slide {
    position: absolute;
    width : 100%;
    height: 100%;
    transition: all 0.25s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    /* aspect-ratio: 1/1; */
    object-fit: contain;
}

.slider-btn-container {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.prev-btn,.next-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    transition: 300ms;
}

.prev-btn:hover, .next-btn:hover {
    background-color: var(--accent-color-light)
}

.prev-btn img, .next-btn img{
    width: 16px;
    height: 16px;
}

.prev-btn {
    margin-left: 18px;
}

.next-btn { 
    margin-right: 18px;
}

.project-name {
    font-size: 28px;
}

.section-title {
    display: flex;
    justify-content: start;
    align-items: center;
}

.section-title h2 {
    display: inline-block;
}

.section-line {
    flex-grow: 1;
    position: relative;
    display: inline-block;
    height: 3px;
    background-color: var(--accent-color);
    margin-left: 30px;
    margin-right: 160px;
}

.project-name {
    margin-top: 10px;
}