@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap%27');


:root {
    --background-color: #f5f8fd;
    --acccent-color: rgb(145, 172, 212);
    --accent-color-light: rgba(144, 172, 212, 0.549);
    --light-text-color: rgba(0, 0, 0, 0.7);
}

* {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;

}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

p {
    color: var(--light-text-color);
    margin: 0;
}

.main-body {
    padding: 0 20px;
    margin-top: 30px;
    display: flex;
    padding-bottom: 200px;
}

/* NAV STYLES */

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    display:inline;
}

.nav a {
    color: black;
    text-decoration: none;
}

.main-nav {
    padding: 20px;
    font-size: 20px;
    border-bottom: 1px solid rgba(82, 82, 82, 0.1)
}

.main-nav a {
    background-color: transparent;
    color: var(--light-text-color);
    border-bottom: 1px solid transparent;
    transition: 200ms;
}

.main-nav a:hover {
    color: black;
    border-bottom: 3px solid rgba(82, 82, 82, 0.1)
}


a.main-page {
    font-weight: bold;
    margin-right: 1.5em;
}

a.sub-page {
    margin: 0 1.5em;
}

/* PROFILE NAV STYLES*/

.profile-nav.contacts li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.profile-nav.contacts p {
    font-size: 14px;
    margin-left: 10px;
}

.profile-nav.socials {
    display: flex;
    justify-content: center;
}

.profile-nav.socials ul {
    display: inline-block;
    margin: 0 10px
}

/* MAIN CONTENT STYLES */
.content {
    width: 60%;
    padding: 0 40px;
}

.content h2 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 400;
}

.content h1 {
    font-size: 40px;
    margin: 0;
    font-weight: 300;
    margin-bottom: 30px;
}

.content h1 span {
    font-weight: 500;
    color: var(--acccent-color)
}

.content p {
    font-size: 20px;
    margin-bottom: 20px;
}

/* SIDEBAR PROFILE STYLES */

.profile {
    position: relative;
    width: 280px;
    margin-right: 40px;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.2);
}

.profile:after {
    background: linear-gradient(
        90deg,
        transparent,
        var(--acccent-color),
        transparent
    );
    height: 2px;
    width: 70px;
    position: absolute;
    left:25%;
    top: -1px;
    opacity: 0;
    content: '';

    transition: left 600ms ease, opacity 600ms ease;
}

.profile:hover:after {
    left: 65%;
    opacity: 1;
}

.profile:before {
    background: linear-gradient(
        transparent,
        var(--acccent-color),
        transparent
    );
    height: 70px;
    width: 2px;
    position: absolute;
    left:-1px;
    top: 65%;
    opacity: 0;
    content: '';

    transition: top 600ms ease, opacity 600ms ease;
}

.profile:hover:before {
    top: 25%;
    opacity: 1;
}

img.me {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

img.icon {
    width: 20px;
}

.profile .wrap-center-x {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile .wrap-center-y {
    width: 100%;
    display: flex;
    align-items: center;
}

.profile h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.profile p.description {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
}

.separator {
    background-color: var(--acccent-color);
    display: block;
    height: 4px;
    margin: 10px 0;
}

.separator.short {
    width: 110px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.name {
    display: inline-block;
}

.pronouns {
    margin-left: 4px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color:var(--acccent-color);
}

.resume {
    display: flex;
    text-decoration: none;
    justify-content: center;

    color: var(--light-text-color);
    background-color: var(--accent-color-light);

    width: 80%;
    padding: 8px 0px;
    margin: 20px auto;
    border-radius: 50px;
    box-shadow: 0px 6px 30px 0px var(--acccent-color);
    font-size: 14px;

    transition: 300ms;
}

.resume img {
    margin-left: 8px;
    width: 16px;
}

.resume:hover {
    transform: translateY(5px);
    width: 100%;
}

.resume:active {
    color: white;
    background-color:var(--acccent-color)
}

#nav-indicator {
    pointer-events: none;
    position: absolute;
    top: 20px;
    left: 0px;
    background-color: rgb(145, 172, 212, 0.8);
    filter: blur(10px);
    transition: 300ms;
}
